#editBookModal {
  position: relative;
}
#editBookModal form {
  background-image: linear-gradient(
    to right top,
    #051937,
    #0b3052,
    #10496e,
    #146389,
    #1b7fa3
  );
  display: block;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
